// :root {
//   --el-dialog-border-radius: 20px;
// }
.el-dialog {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  &:not(.is-fullscreen) {
    border-radius: 18px !important;
  }
  .el-dialog__body {
    flex: 1;
  }
}
.is-fullscreen {
  max-width: 768px;
}
.el-drawer {
  max-width: 768px;
  margin: 0 auto;
  border-radius: 14px 14px 0 0;
  .el-drawer__body {
    background: var(--background-color);
  }
  .el-drawer__footer {
    padding: 10px 20px 20px;
  }
}

.mainBtn.el-button {
  border-radius: 8px;
  font-size: 18px;
  height: 42px;
  &:active {
    transform: scale(0.95);
  }
}

.popupInput .el-input__wrapper {
  box-shadow: none !important;
  border-radius: 12px;
  padding: 6px 10px;
  box-shadow: 0px 0px 3px rgb(26 45 65 / 28%) !important;
}
.shortcutInput .el-input__wrapper {
  box-shadow: none !important;
  border-radius: 12px 0 0 12px;
  padding: 6px 10px;
  box-shadow: 0px 0px 3px rgb(26 45 65 / 28%) !important;
}
.el-date-editor .el-input__wrapper {
  box-shadow: none !important;
}
